<!-- Describe task in general --> <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    琼娜在她支持的足球俱乐部的奖杯室里发现了一本旧册子，上面记录了球队参加的所有锦标赛的成绩。册子上的每一条记录都提供了冠军赛的五个细节：比赛场次、积分、胜场（3 分/胜场）、平局（1 分/平局）和负场。其中有些数字（一或两个）难以辨认（-1），但可以通过可辨认的数字计算出来。帮助 Joana 完成小册子中的信息。
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}champs-table.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>五个整数的元组 <span>({% if is_js %}number{% else %}int{% endif %}) G, P, W, D, L</span>.
</p>

<p>
   <strong>输出： 五个整数的元组</strong>五个整数的元组
</p>

<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
