<!-- Describe task in general --> <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Джоана знайшла старий буклет у кімнаті трофеїв футбольного клубу, за який вона вболіває, з результатами всіх чемпіонатів, в яких брала участь команда. Кожен запис у буклеті містить п'ять деталей чемпіонату: кількість ігор, очки, перемоги (3 очки/перемога), нічиї (1 очко/нічия) та поразки. Деякі (одна або дві) цифри нерозбірливі (-1), але їх можна обчислити, використовуючи розбірливі цифри. Допоможіть Джоані заповнити інформацію в буклеті.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}champs-table.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Кортеж з п'яти цілих чисел <span>({% if is_js %}number{% else %}int{% endif %}) G, P, W, D, L</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Кортеж з п'яти цілих чисел.
</p>

<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Пояснення:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
