<!-- Describe task in general -->
<p style="text-align: justify;">
    Joana a trouvé dans la salle des trophées du club de football qu'elle supporte un vieux livret contenant les résultats de tous les championnats auxquels l'équipe a participé. Chaque entrée du livret donne cinq détails sur un championnat: nombre de matchs, points, victoires (3 points/victoire), nuls (1 point/nul) et défaites. Certains (un ou deux) des chiffres sont illisibles (-1), mais ils peuvent être calculés à l'aide des chiffres lisibles. Aidez Joana à compléter les informations du livret.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}champs-table.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Tuple de cinq nombres entiers <span>({% if is_js %}number{% else %}int{% endif %}) G, P, W, D, L</span>.
</p>

<p>
   <strong>Sortie:</strong> Tuple de cinq entiers.
</p>

<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
