<!-- Describe task in general --> <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Joana found an old booklet in the trophy room of the football club she supports, containing the results of all the championships the team has participated in. Each entry in the booklet gives five details of a championship: number of Games, Points, Wins (3 point/win), Draws (1 point/draw) and Losses. Some (one or two) of the numbers are illegible (-1), but they can be calculated using the legible numbers. Help Joana complete the information in the booklet.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}champs-table.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Tuple of five integers <span translate="no">({% if is_js %}number{% else %}int{% endif %}) G, P, W, D, L</span>.
</p>

<p>
    <strong>Output:</strong> Tuple of five integers.
</p>

<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
