<!-- Describe task in general -->
<p style="text-align: justify;">
    Joana hat im Trophäenraum des Fußballvereins, den sie unterstützt, ein altes Heft gefunden, das die Ergebnisse aller Meisterschaften enthält, an denen die Mannschaft teilgenommen hat. Jeder Eintrag in dem Heft enthält fünf Angaben zu einer Meisterschaft: Anzahl der Spiele, Punkte, Siege (3 Punkte/Sieg), Unentschieden (1 Punkt/Unentschieden) und Niederlagen. Einige (ein oder zwei) der Zahlen sind unleserlich (-1), aber sie können anhand der lesbaren Zahlen berechnet werden. Helfen Sie Joana, die Informationen im Heft zu vervollständigen.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}champs-table.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Tupel von fünf ganzen Zahlen <span>({% if is_js %}number{% else %}int{% endif %}) G, P, W, D, L</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Tupel aus fünf ganzen Zahlen.
</p>

<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
