<!-- Describe task in general -->
<p style="text-align: justify;">
    Joana znalazła starą broszurę w pokoju z trofeami klubu piłkarskiego, któremu kibicuje, zawierającą wyniki wszystkich mistrzostw, w których drużyna brała udział. Każdy wpis w książeczce zawiera pięć szczegółów dotyczących mistrzostw: liczbę meczów, punkty, zwycięstwa (3 punkty/wygrana), remisy (1 punkt/remis) i porażki. Niektóre (jedna lub dwie) liczby są nieczytelne (-1), ale można je obliczyć za pomocą czytelnych liczb. Proszę pomóc Joanie uzupełnić informacje w książeczce.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}champs-table.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> Krotka pięciu liczb całkowitych <span>({% if is_js %}number{% else %}int{% endif %}) G, P, W, D, L</span>.
</p>

<p>
   <strong>Wyjście:</strong> Krotka pięciu liczb całkowitych.
</p>

<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
